# Virtual Environment
venv/
env/
.env

# Python Caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Execution Outputs & Sensitive Data
reports/
cache/

# Sample Data (Uncomment to ignore scan files if they contain real IPs/host data)
# sample_data/*.xml
# sample_data/*.json

# OS / Editor Files
.DS_Store
.vscode/
.idea/